.git
.gitignore
.DS_Store
.env
.env.*
!.env.example

.models
data
outputs
experiments
tests
tutorial
tutorials

backend/data/*
!backend/data/.gitkeep
backend/**/*.pyc
backend/**/__pycache__
backend/.pytest_cache

frontend
node_modules
.next
dist
build

.venv
venv
env
*.log
*.sqlite
*.sqlite3
*.db
