.env
.DS_Store
__pycache__
cp/*
data/raw/audio/*
data/raw/mediasum/*
data/processed/*
outputs/transcription/*
outputs/summarization/*

!cp/.gitkeep
!data/raw/audio/.gitkeep
!data/raw/mediasum/.gitkeep
!data/processed/.gitkeep
!outputs/transcription/.gitkeep
!outputs/summarization/.gitkeep